__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pyo
*.pyd

venv/
.env
.env/
.venv/
env/
conda_env/
benchmark_output/
logs/
*.log
*.tmp
*.cache

models/
*.onnx
*.h5
*.pt
*.ckpt

audiofiles/
transcription_archives/
output/
*.wav
*.mp3
*.flac
*.opus
*.m4a
*.aac
*.ogg

.DS_Store
Thumbs.db
desktop.ini

*.config
*.ini

*.yml

node_modules/
package-lock.json
pip-log.txt
pip-delete-this-directory.txt

.ipynb_checkpoints/
