langchain_ollama
langgraph
librosa
Markdown
numpy
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
pydub
pypandoc
python-dotenv
tkhtmlview
tkinterdnd2
torch
transformers
ttkbootstrap
langdetect