torch
transformers
torchaudio
pydub
ffmpeg-python
speechbrain
ffmpeg
python-dotenv
pyannote.audio
pyannote.core
pyannote.database
pyannote.pipeline
pyannote.metrics
langchain
langgraph
langchain-ollama
librosa
Markdown
numpy
pypandoc
tkhtmlview
tkinterdnd2
ttkbootstrap